{% extends 'base.html.twig' %}

{% block title %}Page Principal{% endblock %}

{% block body %}
<div class="container-mage">
    <img src="https://media.lesechos.com/api/v1/images/view/6163f3a98fe56f3ec566ee46/1280x720/presanse2ok.jpg"    alt="image" >
      
</div>
    <div class="container mt-4 align-content-center">
        <div class="jumbotron">
            <h1 class="display-2">Bienvenue sur notre Page!</h1>
            <p class="lead">C'est ci c'est une site de gestion de contenu qui va nous permettre de
              consulter la liste de toutes les missions.</p>
            <hr class="my-4">
            <p>Pour commencer rendez-vous sur notre page de principal.</p>
            <a class="btn btn-primary btn-lg" href="{{path('app_main')}}" role="button">A Savoir plus</a>
          </div>
        </div>
{% endblock %}


